/* *{
    box-sizing: border-box;
    margin: 0;
} */
body {
    font-family: 'Genos', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: darkgrey;
    position: sticky;
    z-index: 1;
    top: 0;
}

header {
    display: inline-flex;
    margin: 0;
}
header>h1>a{
    text-decoration: none;
}
nav {
    position: sticky;
    display: inline-flex;
    position: relative;
    left: 1040px;
    bottom: -15px;
}
a {
    color: black;
    display: inline-flex;
}
.search{
    position: relative;
    left: 670px;
}
h1 {
    position: relative;
    left: 25px;
}
.line1 {
    border: solid 2px black;
    color: ghostwhite;
}

.line2 {
    display: inline-flex;
}
.search>ul>a:hover{
    color:rgb(89, 89, 90)
}
.line2>ul>a:hover{
    color:rgb(89, 89, 90)
}
nav>ul>a:hover{
    color:rgb(89, 89, 90)
}
.list>ul>a:hover{
    color:rgb(89, 89, 90)
}
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: darkgrey;
} */

.container{
    background-color:lightslategrey;
    display: grid;
    gap: 20px;
    width: 500px;
    max-width: calc(100vw - 40px);
    padding: 30px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 50px 50px;
    margin: 125px 500px;
}

#text{
    display: block;
    height: 100px;
    border-radius: .5rem;
    font-size: 1.5rem;
    border: none;
    resize: none;
    padding: 8px 10px;
    outline: 2px solid rgba(120,120,120,0.623);
}

button{
    padding: 10px;
    background: #072227;
    color: #fff;
    border-radius: .5rem;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    font-weight: bold;
}

body {
    font-family: "Genos", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }



.list{
    display: inline-flex;
    position: relative;
    left: 450px;
}
.box10 {
    text-align: center;
}
.space{
    border:2px solid gray;
    
}
footer{
    padding: 0px 8px;
}
