body {
    font-family: 'Genos', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: darkgrey;
    position: sticky;
    z-index: 1;
    top: 0;
  }
  
  header {
    display: inline-flex;
    margin: 0;
  }
  header>h1>a{
text-decoration: none;
}
  nav {
    position: sticky;
    display: inline-flex;
    position: relative;
    left: 1040px;
    bottom: -15px;
  }
  a {
    color: black;
    display: inline-flex;
  }
  .search>ul>a:hover{
color:rgb(89, 89, 90)
}
.line2>ul>a:hover{
color:rgb(89, 89, 90)
}
nav>ul>a:hover{
color:rgb(89, 89, 90)
}
.list>ul>a:hover{
color:rgb(89, 89, 90)
}
  .search{
    position: relative;
    left: 670px;
  }
  header>h1 {
    position: relative;
    left: 25px;
  }
  .line1 {
    border: solid 2px;
    color: black;
  }
  
  .line2 {
    display: inline-flex;
  }
  .space{
    height: 185px;
  }
  .list{
display: inline-flex;
position: relative;
left: 450px;
}
.box10 {
text-align: center;
}
.underline{
border: 2px solid gray;
}
footer{
padding: 0px 8px;
}
.container{
    margin: 20px;
}
.space{
    padding: 66px;
}